* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header-mainDiv {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 96px;
    background-color: #53389E;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    padding: 18px 32px;
}

.nav-logoContainer {
    display: flex;
    align-items: center;
    gap: 32px;

}

nav {
    display: flex;
    align-items: center;
    gap: 20px;

}

.productsDiv {
    display: flex;
    gap: 4px;
}

.productsLink {
    color: #ffffff;
    font-weight: 600;
}

.login-signupDiv {
    display: flex;
    gap: 12px;

}

.loginButton {
    border-radius: 8px;
    background: #FFF;
    padding: 10px 16px;
    color: #414651;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.signupButton {
    padding: 10px 16px;
    border-radius: 8px;
    background: #7F56D9;
    color: #FFF;
    border: none;
    cursor: pointer;
}

main {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 24px;
    flex-direction: column;
}



.mainHeadDiv {
    display: flex;
    width: 100%;
    background-color: #53389E;
    flex-direction: column;
    gap: 64px;
    align-items: center;


}

.headingDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 768px;
    width: 100%;
    gap: 24px;
}

.bank-superDiv {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.superSimpleP {
    font-size: 20px;
    width: 100%;
    color: #E9D7FE;
}

h1 {
    font-size: 74px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 90px;
}

.transparentP {
    font-size: 20px;
    color: #E9D7FE;

}

.demo-signupDiv {
    display: flex;
    align-items: center;
    gap: 12px;
}

.demoButton {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 22px;
    color: #414651;
    border-radius: 10px;
    background: #FFF;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.signupSecondButton {
    display: flex;
    align-items: center;
    padding: 16px 22px;
    color: #414651;
    border-radius: 10px;
    background-color: #7F56D9;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.mainheadWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 100%;
    max-width: 1216px;
    padding: 0px 32px;

}

.cardsDiv {
    width: 100%;
    display: flex;
    background-position: bottom;
    background-image: url(../images/Cards.png);
    background-repeat: no-repeat;
    height: 456px;
    background-size: auto;
}

.frameworksDiv {
    display: flex;
    flex-direction: column;
    padding: 96px 0px;
    width: 100%;
    background-color: #FFFFFF;
    align-items: center;
}

.frameworksWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    padding: 0px 32px;
    align-items: center;
    gap: 32px;
}

.joinP {
    color: #535862;

}

.companyLogosDiv {
    display: flex;
    gap: 24px;
}

.everneedMainDiv {
    display: flex;
    padding: 96px 0px;
    background-color: #F2EDFF;
    width: 100%;
    justify-content: center;
}

.everneedWrapper {
    display: flex;
    padding: 0px 32px;
    max-width: 1280px;
    width: 100%;
    justify-content: space-between;

}

.onlyCardDiv {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    gap: 20px;
}

.onlyCardEverNeedDiv {
    font-size: 27px;
    color: #181D27;
}

.spendP {
    color: #535862;
    font-size: 21px;
}

.onlyCardsDetailsDiv {
    display: flex;
    gap: 64px;
}

.teamInboxesSectionDiv {
    display: flex;
    flex-direction: column;
    max-width: 364px;
    width: 100%;
    gap: 32px;
}

.teamInboxesDiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.shareH3 {
    color: #181D27;
    font-size: 20px;
}

.WhetherP {
    color: #535862;
}

.financeMainDiv {
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    justify-content: center;

}

.financeWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 64px;
    max-width: 1280px;
    padding: 0px 32px;
}

.featuresDiv {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    gap: 20px;
}

.featuresSection {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.featuresSpan {
    color: #6941C6;

}

.financeH2 {
    color: #181D27;
    font-size: 36px;
}

.getP {
    color: #535862;
    font-size: 23px;
}

.shareDashboardDiv {
    display: flex;
    justify-content: space-between;
}

.inboxesDiv {
    display: flex;
    flex-direction: column;

}

.ShareInoxesFirstDiv {
    display: flex;
    flex-direction: column;
    padding: 16px 0px 16px 24px;
    max-width: 560px;
    width: 100%;
    gap: 20px;
    border-left: 4px solid #9E77ED;
}

.shareInoxesDiv {
    display: flex;
    flex-direction: column;
    padding: 16px 0px 16px 24px;
    max-width: 560px;
    width: 100%;
    gap: 20px;
    border-left: 4px solid #F5F5F5;
}

.share-whetherDiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.learnMoreDiv {
    display: flex;
    align-items: center;
    gap: 6px;
}

.learnMoreLink {
    color: #6941C6;

}

.dashboardBackgroundDiv {
    background-image: url(../images/Dashboard.png);
    background-position: right;
    background-position: top;
    height: 600px;
    max-width: 705px;
    width: 100%;
    background-size: cover;

}

.pricingPlansMainDiv {
    display: flex;
    width: 100%;
    background-color: #F2EDFF;
    padding: 96px 0px;
    justify-content: center;

}

.pricingPlansWrapper {
    display: flex;
    max-width: 1280px;
    width: 100%;
    gap: 64px;
    padding: 0px 32px;
}

.pricingUpradeDiv {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    width: 100%;
    gap: 20px;
}

.upgradeDiv {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.pricingH2 {
    font-size: 36px;
    color: #181D27;
    font-weight: 600;
}

.simpleUpgradeP {
    font-size: 18px;
    color: #535862;
}

.basic-businessPlanDiv {
    display: flex;
    max-width: 712px;
    width: 100%;
    gap: 32px;

}

.basicPlanMainDiv {
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-2xl, 16px);
    border: 1px solid #E9EAEB;
    max-width: 340px;
    width: 100%;
    background: #FFF;
    box-shadow: 0px 12px 16px -4px var(--Colors-Effects-Shadows-shadow-lg_01, rgba(10, 13, 18, 0.08)), 0px 4px 6px -2px var(--Colors-Effects-Shadows-shadow-lg_02, rgba(10, 13, 18, 0.03)), 0px 2px 2px -1px var(--Colors-Effects-Shadows-shadow-lg_03, rgba(10, 13, 18, 0.04));
}

.basicPlanDiv {
    display: flex;
    flex-direction: column;
    padding: 32px 32px 0px 32px;
    max-width: 340px;
    align-items: center;
    width: 100%;
}

.basicplan-DolarDiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
    align-items: center;
}

.basicPlanSpan {
    color: #6941C6;
    font-size: 20px;
    font-weight: 600;
}

.DolarH3 {
    font-size: 48px;
    color: #181D27;
}

.billedSpan {
    color: #535862;

}

.pinkTickDiv {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;

}

.accesDiv {
    display: flex;
    align-items: center;
    gap: 12px;

}

.accesSpan {
    color: #535862;
}

.getStartedDiv {
    display: flex;
    padding: 32px;
    border-top: 1px solid #E9EAEB;
    background: #FAFAFA;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 0px 12px 16px -4px var(--Colors-Effects-Shadows-shadow-lg_01, rgba(10, 13, 18, 0.08)), 0px 4px 6px -2px var(--Colors-Effects-Shadows-shadow-lg_02, rgba(10, 13, 18, 0.03)), 0px 2px 2px -1px var(--Colors-Effects-Shadows-shadow-lg_03, rgba(10, 13, 18, 0.04));
    align-items: center;
}

.getstartedButton {
    padding: 12px 18px;
    max-width: 276px;
    width: 100%;
    border-radius: var(--radius-md, 8px);
    background: #7F56D9;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.simplisityMainDiv {
    display: flex;
    width: 100%;
    padding: 96px 0px;
    background: #FFF;
    justify-content: center;
}

.simplisityWrapper {
    display: flex;
    max-width: 1280px;
    width: 100%;
    padding: 0px 32px;
    border-radius: var(--radius-4xl, 24px);
}

.simplisityContentDiv {
    display: flex;
    flex-direction: column;
    background-color: #53389E;
    max-width: 736px;
    width: 100%;
    padding: 64px;
    background: #53389E;
    border-top-left-radius: var(--radius-4xl, 24px);
    border-bottom-left-radius: var(--radius-4xl, 24px);
}
.starsDiv{
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: 116px;
    width: 100%;
    margin-bottom: 24px;
}
.loveDiv{
    display: flex;
    max-width: 608px;
    width: 100%;
    flex-direction: column;
    gap: 32px;
}
.loveDiv div p{
    font-size: 36px;
    color: #FFFFFF;
    line-height: 44px;
    font-weight: 500;
}
.reeneDiv{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.reeneSpan{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 28px;
}
.productDesignerSpan{
    color: #E9D7FE;

}
.circlesDiv{
    display: flex;
    justify-content: flex-start;
}
.girlImageDiv{
    border-top-right-radius: var(--radius-4xl, 24px);
    border-bottom-right-radius: var(--radius-4xl, 24px);
}